<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Destination:</b>
  <%= @event.destination %>
</p>

<p>
  <b>Arrival time:</b>
  <%= @event.arrival_time %>
</p>

<%= link_to "Enter Guests", new_event_invitation_path(@event, Invitation.new(event: @event)) %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
