<!DOCTYPE html>
<html>
<head>
  <title>RideBum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-timepickr/src/ui.timepickr.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
